<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    {{>header}}
    <p>This site was created by Sanidhya Desai. It uses data from mapbox.com and darksky.net (which has now been purchased by Apple!)</p>
    <img class="portrait" src="/img/robot.png">
    {{>footer}}
</body>

</html>